REACT_APP_DEVELOPMENT_MODE=true
REACT_APP_API_BASE_URL=https://cf247-api-dev.azurewebsites.net/
REACT_APP_CAR_SEARCH_PAGE_SIZE=10
REACT_APP_AGENT_GUIDE_FOR_LICENSE="DRIVEACAR"
REACT_APP_AGENT_GUIDE_FOR_ADDRESS="ASDA"
REACT_APP_AGENT_GUIDE_FOR_INCOME="INCOME"
REACT_APP_AGENT_GUIDE_FOR_EMPLOYMENT="EMPLOY ME"
REACT_APP_AGENT_GUIDE_FOR_ALREADY_FOUND_CAR="ALREADY FOUND CAR"
